body {
    font-family: 'Oswald', sans-serif;
    background-color: #669bbc;
    text-align: center;
    padding: 40px;

}
label{
    font-size: 20px;
}

h1{
    font-size:35px;
}

pre{
    width: auto;
    height: 250px;
    border: 2px solid black;
    overflow-x: auto;
}


#submit {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;  

}
  
#submit:hover {
    background-color: #555555;
    color: white;
  }
